@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: black;
  margin: 0;
  box-sizing: border-box;
}

html{
    background-color: #444444;
}

body {
    border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  gap: 10px;

  width: 600px;
  margin: 0 auto;
  background: #ff9500;
  padding: 10px 10px 10px 10px;
}

p {
    padding: 10px 20px;
  /* color: blue; */
  background-color: #f1f1f1;
  /* width: 600px; */
  /* border: 1px solid black; */
  border-radius: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  /* width: 600px; */
}

ol {
  /* width: 500px; */
}

li {
  font-weight: 400;
}
